@page "/clients"

<div class="spacer"></div>
<h2 id="highlighted-text"> Why Companies Choose Hanna IT :</h2>
<div class="spacer"></div>
<p> Our customers can rest easy knowing the background services that keep their business 
    floating & making money are secure. Its that simple, we just make it work and keep it running.
    Contact us today if your company can stand to benefit.
</p>
<div class="spacer"></div>
<h2 id="highlighted-text"> Happy Customers :</h2>
<div class="spacer"></div>
<div align="center">
<img id="clients" src="assets/clients/winchells.png" alt="Winchells Pub & Grill">
<img id="clients" src="assets/clients/complexbuilders.png" alt="Complex Builders">
<img id="clients" src="assets/clients/jackpotjoanies.png" alt="Jackpot Joanies">
<img id="clients" src="assets/clients/robinsonrealty.png" alt="Robinson Realty Management">
<img id="clients" src="assets/clients/ginmill.png" alt="Gin Mill">
<img id="clients" src="assets/clients/irishpeddlers.png" alt="Irish Peddlers">
<img id="clients" src="assets/clients/eclipsegaming.png" alt="Eclipse Gaming">
</div>
<div class="spacer"></div>