@page "/contact"

<div class="spacer"></div>
<h2 id="highlighted-text"> Contact </h2>
<div class="spacer"></div>
<p>  Please contact us with any questions or needs! </p>
<div class="spacer"></div>
<p> Send us a message directly at Support@HannaIT.com </p>
<div class="spacer"></div>
<p> In the future a contact form will be provided here. </p>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>