@page "/resources"

<div class="spacer"></div>
<a href="https://sso.godaddy.com/"> Owner Login </a>
<div class="spacer"></div>
<p> This page is reserved for providing high quality resources to clients and employees alike. </p>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<img src="logo.png" width="80%" alt="Hanna IT Solutions Logo">
<div class="spacer"></div>
<div class="spacer"></div>