@inherits LayoutComponentBase

<div class="home_banner"> <img width="100%" src="assets/home_banner.jpg">  </div>   

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

    <div class="quick_info"> 
        <div class="contact_info"> 
             <span class="oi oi-phone" aria-hidden="true"></span> 
             <a href="(702)???-???"> Call Us </a> &nbsp;
             <span class="oi oi-chat" aria-hidden="true"></span> 
             <a href= "mailto: Email: Support@HannaIT.com"> Email: Support@HannaIT.com </a>
        </div>
        <div class="hours_info">
             <span class="oi oi-bell" aria-hidden="true" align="right" ></span> 
             Hours: Clients 24/7 | Inquiries 10am-7pm &nbsp;&nbsp;
        </div>
    </div>

        <div class="content px-4">
            @Body
        </div>

    <div align="bottom-left" style="margin-left:-32px;,float:bottom;"> <img src="assets/footer_heel.png"> </div>
        
    </div>

</div>
<div class="footer">  <p> © HannaIT All Rights Reserved 2021 | Made by Brentyn Hanna </p> </div>